:root {
    --white: #ffffff;
    --offwhite: #FFFFFF4D;
    --black: #000000;
    --bannersec: #DB936D;
    --bannerpara: rgba(255, 255, 255, 0.9);
    --bannerbtnfont: #272727;
    --btnbg: #2B1C0C;
    --text1: #333333;
    --text2: #666666;
    --reg-hdng: #252525;
    --placeholder: #909090;
    --header: #230F0F;
    --header2: #26445C;
    --popular-crs: #F8FBFB;
    --blog-sec: linear-gradient(to right, #D5DEE7 0%, #E8EBF2 50%, #DFE0E3 100%);
    /* --headertext: #26445C;
    --headertext2: #011334;
    --logotext: #079583;
    --lineyellow: #FFE492;
    --deepyellow: #FED047;
    --text1: #333333;
    --text2: #A6A6A6;
    --text3: #191A15;
    --text4: #6F6C90;
    --buttonbg: #0FAE96;
    --contactsec: #F0E9D6;
    --formsec: #F6F1E8;
    --commitmentsec: #F7F7FB;
    --partnersec: #F9F8FE;
    --footer: #26445C;
    --border: #2E4E73;
    --list: #079583; 
    --trustsec: #72BBB3;
    --findanswersec: #F3F3F3;
    --findansbox: #E8E8E8;
    --whosec: #F5F7FA;
    --banner: linear-gradient(to right, #243949 0%, #517FA4 100%);
    --consultexpertBnr: linear-gradient(90deg, #011327 0%, #011327 45%, rgba(1, 19, 39, 0.68) 58%, rgba(1, 19, 39, 0) 100%);
    --sitepagebnr: linear-gradient(90deg, #243949 0%, #517FA4 100%);
    --contactusbnr: linear-gradient(90deg, #243949 0%, #375770 43%, rgba(61, 96, 124, 0.85) 56%, rgba(81, 127, 164, 0) 100%);
    --ourmission: linear-gradient(90deg, #F5F5F7 0%, #D4EAF7 100%);
    --ourvalues: linear-gradient(90deg, #F5F5F7 0%, #F5F5F7 100%); */

  }

  @font-face {
    font-family: 'Inter';
    src: url('../iconFont/fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../iconFont/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../iconFont/fonts/Inter-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../iconFont/fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter';
    src: url('../iconFont/fonts/Inter-Light-BETA.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter';
    src: url('../iconFont/fonts/Inter-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;

  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('../iconFont/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat'; 
    src: url(../iconFont/fonts/Montserrat-SemiBold.woff) format('woff');
    font-weight: 600; 
    font-style: normal;
  }
  @font-face {
    font-family: 'DM Sans'; 
    src: url(../iconFont/fonts/DMSans-Regular.woff) format('woff');
    font-weight: 400; 
    font-style: normal;
  }
  @font-face {
    font-family: 'Orbitron'; 
    src: url(../iconFont/fonts/orbitron-bold.woff) format('woff');
    font-weight: bold; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url(../iconFont/fonts/Poppins-Bold.woff) format('woff'); 
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(../iconFont/fonts/Roboto-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
  }
 @font-face {
  font-family: 'Nunito Sans';
  src: url(../iconFont/fonts/NunitoSans-Regular.woff) format('woff');
  font-weight: 400; 
  font-style: normal;
 }
  /* @font-face {
    font-family: 'Orelega One';
    src: url('../iconFont/fonts/OrelegaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Manrope';
    src: url('../iconFont/fonts/Manrope-Bold.woff') format('woff');
    font-weight: bold;  
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope'; 
    src: url(../iconFont/fonts/Manrope-Medium.woff) format('woff');
    font-weight: 500; 
    font-style: normal;
  } */

 